@use '../scss/autoload' as g;
.paginate {
  width: g.$pc-content-width;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  margin: auto;

  &-container {
    width: 100%;
    position: sticky;
    bottom: 0;
    background-color: rgba(g.$pal-black, .9);
    padding: g.getSize(3) 0;
    border-top: 1px solid g.$pal-dark-grey;

  }
}
