@use '../scss/autoload' as g;
@use 'sass:map';

.search-input {
  font-size: g.getSize(3);
  // 右はクリアボタンのサイズ（24px = getSize(3) 相当）を考慮
  padding: g.getSize(1) g.getSize(6) g.getSize(1) g.getSize(2);
  border: 1px solid g.$pal-grey;
  border-radius: g.getSize(map.get(g.$element-radius, 's'));

  &:focus {
    outline: none;
  }

  &-container {
    width: 100%;
    position: relative;
    height: g.$form-height;
  }

  &-placeholder {
    color: g.$pal-grey;
    position: absolute;
    top: 50%;
    left: g.getSize(2);
    transform: translateY(-50%);
  }

  &-clear-button {
    border: none;
    position: absolute;
    right: g.getSize(2);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: g.$pal-grey;
    background-color: g.$pal-dark-grey;
    width: 24px;
    height: 24px;
  }
}
