@use '../scss/autoload' as g;
@use 'sass:map';

.search-result {
  width: g.$pc-content-width;
  flex: 8;
  margin: auto;

  &-item {
    font-size: g.getSize(2);
    color: g.$pal-grey;
    border: 1px solid g.$pal-grey;
    border-radius: g.getSize(map.get(g.$element-radius, 'm'));
    padding: g.getSize(2);
    margin: g.getSize(3) 0;

    &-name {
      font-size: g.getSize(3);
      margin: 0;
      display: flex;
      align-items: center;
      align-content: center;
      gap: g.getSize(1);
    }

    &-avatar {
      width: 32px;
      height: auto;
    }

    &-full-name {
      margin-right: auto;
      border-radius: g.getSize(map.get(g.$element-radius, 's'));
    }
  }
}

.repository-meta {
  display: flex;
  gap: g.getSize(2);
  margin-top: g.getSize(2);
  padding: g.getSize(1) g.getSize(1) 0;
  border-top: 1px solid g.$pal-grey;

  span {
    display: flex;
    align-items: center;
    align-content: center;
    gap: g.getSize(1);
  }


  &-star {
    color: g.$pal-yellow;
  }

  &-watch {
    color: g.$pal-blue;
  }

  &-fork {
    color: g.$pal-green;
  }
}


.ph-item {
  border: 1px solid g.$pal-grey;
  border-radius: g.getSize(map.get(g.$element-radius, 'm'));
  padding: g.getSize(2);
  margin: g.getSize(3) 0;

  &-name {
    display: flex;
    align-items: center;
    align-content: center;
    gap: g.getSize(1);
    margin-bottom: g.getSize(1);

    &-avatar {
      width: 32px;
      height: 32px;
      background-color: g.$pal-grey;
      border-radius: g.getSize(map.get(g.$element-radius, 's'));
      opacity: 0.25;
      animation: blink 3s linear infinite;
    }

    &-name {
      width: 100%;
      height: 32px;
      background-color: g.$pal-grey;
      border-radius: g.getSize(map.get(g.$element-radius, 's'));
      opacity: 0.25;
      animation: blink 3s linear infinite;
      animation-delay: 0.25s;
    }
  }

  &-full-name {
    height: 24px;
    width: 100%;
    background-color: g.$pal-grey;
    margin-right: auto;
    flex: 2;
    opacity: 0.25;
    animation: blink 3s linear infinite;
    animation-delay: 0.5s;
  }

  &-meta {
    display: flex;
    gap: g.getSize(2);
    margin-top: g.getSize(1);
    padding-top: g.getSize(1);
    border-top: 1px solid g.$pal-grey;


    &-data {
      height: 24px;
      width: 100%;
      background-color: g.$pal-grey;
      flex: 1;

      counter-reset: metaitem;
      counter-increment: metaitem 0.25;

      opacity: 0.25;
      animation: blink 3s linear infinite;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
